/* Container for the entire messages page */
.messages-page {
    height: 100vh;
}

/* Container for the main content below the navbar */
.messaging-content {
    display: flex;
    margin-left: 15%; 
    padding-top: 20px; 
}

/* Conversation list container */
.conversation-list {
    width: 25%;
    min-height: 85vh;

    border-right: 1px solid #ccc;
    overflow-y: auto;
    
    gap: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Conversation list header */
.conversation-list-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;

    width: 80%;
}

/* Conversation list item styling */
.conversation-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    border-radius: 10px !important;

    width: 90%;
}

.conversation-item:hover {
    background-color: #f0f0f0;
}

/* Main chat area container */
.chat-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-top: 70px; 
}

/* Chat header */
.chat-header {
    width: 100%;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

/* Chat messages container */
.chat-messages {
    width: 100%;
    height: 270px;
    
    position: relative;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 12px;

    background-color: #0000004a;

    gap: 10px;

    display: flex;
    flex-direction: column;
}

/* Individual message styling */
.message {
    width: 45%;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

.message.sent {
    position: relative;
    left: 55%;
    background-color: #ffffff;
    border-bottom-right-radius: 0px;
}

.message.received {
    background-color: #b6b6b6;
    border-bottom-left-radius: 0px;
}

/* Input field for new messages */
.message-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.message-input input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px 20px;
}