.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    width: 85%;
    height: 90%;

    position: absolute;
    left: 15%; 
    
    overflow-y: auto; 
}   