.settings-page {    
    height: 100vh;
}

.settings-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;

    width: 80%;
    height: 90%;
    
    position: absolute;
    left: 20%; 
    bottom: 0;

    overflow-y: auto;
}

.settings-input {
    height: 30%;
    width: 800px;

    margin-left: 10px;
}

.settings-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    gap: 10px;
}

.submit-btn {
    border: 0px;
    border-radius: 10px;
}