.search-container {
    height: 100vh;
}

.search-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
    
    width: 85%;
    height: 90%;
    
    position: absolute;

    overflow-y: auto;

    margin-left: 15%; 
    padding: 20px 10px 20px 10px;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 150px;

    padding: 10px;
    font-size: 20px;
}

.profile {
    flex: 0.75;
}
