@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.navbar {
    display: flex;
    justify-content:space-evenly !important; 
    align-content: center;
    flex-direction: row;

    width: 100%;
    height: 10%; 
    
    position: absolute;
    left: 0; 
    top: 0;

    border-bottom: 5px solid;
    background: #FFFFFF;
    border-color: #ECD6FA;
}

.patrick-font{
    font-family: "Patrick Hand", cursive;
    font-weight: bolder;
    font-style: normal 600;
    color: #d9a1de;
}

.search-bar {
    width: 50%;
    height: 80%;
}

.search-btn {
    border-radius: 10px;
}