.comment {
    text-align: left;
    word-wrap: break-word;

    padding: 15px;
    margin: 10px;
}

.main {
    border: solid 5px !important;
    border-color: rgb(76, 67, 153) !important;
}

.comment-header {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 10px;
    height: 20px;
}

.date {
    font-size: small;
}

.comment-profile {
    height: 30px;
    line-height: 25%;

    text-align: left;
    font-weight: bold;

    border: 0;

    padding: 0px !important;
    border-radius: 10px !important;
}

.reply-btn {
    height: 30px;
    line-height: 10px;
    margin-top: 5px;
    width: 100%;
    border: 0;
    border-radius: 10px !important;
}
