.comment {
    text-align: left;
    word-wrap: break-word;

    padding: 15px;
    margin: 10px;
}

.main {
    border: solid !important;
    border-color: rgb(123, 115, 196) !important;
}

.comment-header {
    display: flex;
    justify-content: flex-start;
    align-items: end;

    gap: 10px;

    height: 30px;
}

.date {
    font-size: small;
}

.comment-profile {
    height: 30px;
    line-height: 25%;

    text-align: left;
    font-weight: bold;

    border: 0;

    padding: 0px !important;
    border-radius: 10px !important;
}

.reply-btn {
    height: 30px;
    line-height: 25%;
    
    width: 100%;

    border: 0;
    border-radius: 10px !important;
}
