/* Main profile container */
.profile-page {    
    height: 100vh;
}

.profile-container {
    position: absolute;
    left: 15%; 
    bottom: 0;

    width: 85%;
    height: 90%;

    overflow-y: auto;
}

/* Profile header section */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;

}

.customized-container {
    width: 100%;
    margin-bottom: 70px;
    overflow: hidden;
}

.img-profile {
    position: absolute;
    left: 8%;
    top: 160px;
    z-index: 100;
}

.img-banner {
    min-width: 100%;
    max-width: 100%;
    transform: scale(1, 2);
    transform-origin: 50% 50%;
    /* Focus 50% from left, 50% top */

    /* border: 2px solid; */
    
    height: 250px;
}

.username-follow-container {
    display: flex;
    justify-content: flex-start;

    align-items: center;
    gap: 10%;

    position: absolute;
    left: 30%;
    top: 260px;
    z-index: 100;
}

.follower-count, .following-count {
    font-weight: bold;
    color: #101010; 
    cursor: pointer;
}

.follower-count:hover, .following-count:hover {
    text-decoration: underline;
}

.bio {
    width: 100%;
    font-style: italic;
    font-size: large;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.profile-posts {
    width: 118%;
    height: 70%;

    position: absolute;
    right: 0%;
}

.follow-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    padding: 20px 15px 20px 15px;

    gap: 10px;
}












