.search-container {
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    
    width: 70%;
    height: 90%;

    position: absolute;
    bottom: 0;

    overflow-y: auto;

}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
}

.user-name {
    flex: 0.5;
}