.navbar {
    display: flex;
    justify-content:space-around !important; 
    align-items: center;
    align-content: center;
    flex-direction: row;

    height: 10%; 
    
    position: absolute;
    left: 0; 
    top: 0;

    border-bottom: 5px solid;
}

.search-input-container {
    display: flex;
    
    align-items: center;
    align-content: center;
    flex-direction: row;

    gap:10px;

    width: 50%;

    height: 100vh;
}

.search-bar {
    width: 100%;
    height: 5%;
    margin-right: 2%;
}

.search-btn {
    height: 5%;
    line-height: 5%;

    border-radius: 10px;
    padding: 2px 15px 5px 15px;
}