.comments-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 25%;
    height: 90%;

    position: absolute;
    right: 20%; 
    bottom: 0;

    border-radius: 25px;
    background-color: #e8c4ff;
}

.comments-feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    overflow-y: auto;
    height: 80%;

}

.comment {
    padding: 15px;
    margin: 10px;

    background-color: #d695ff;
    border-radius: 25px;
}

.comment-btn {
    border-radius: 25px;
}