.custom-btn {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
  }

.create-user-btn {
    background-color: rgb(21, 209, 146);
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}