.feed-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items:center;

    width: 70%;
    height: 90%;

    position: absolute;
    left: 15%; 
    bottom: 0;
    
    overflow-y: auto;
    border-radius: 10px;
    border-color: #ECD6FA;
}   