.mini-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border: 0;
    margin-bottom: 10px;

    width: 97%;
    padding: 10px;
    border-radius: 25px;
}

.username-like-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

