.profile-image {
    max-width: 150px;    
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;

    width: auto;        
    height: auto;       

    border-radius: 100%;
}
  
.small-profile-image {
    max-width: 60px;    
    max-height: 60px;  
    min-width: 60px;
    min-height: 60px; 

    width: auto;        
    height: auto;

    margin-right: 10px;
        
    border-radius: 100%;
}