.post {
    width: 97%;
    background: rgba(236, 214, 250);
    padding: 10px;
    border-radius: 25px;
}

.mini {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border: 0;
    margin-bottom: 10px;
}

.mini:hover {
    background-color: rgba(232, 196, 255);
}

.normal {
    align-items: center;
    
    width: 45%;
    height: 80%;
    padding: 20px;

    position: absolute;
    left: 18%; 
    bottom: 10%;

    overflow-y: auto;

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.like-container {
    display: flex;
    justify-content: flex-start;

    position: absolute;
    left: 18%; 
    bottom: 0%; 

    width: 45%;
    z-index: 1;

    background: rgba(236, 214, 250);
    padding: 10px;

    border-radius: 25px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.like-container button {
    border: 0;
    border-radius: 20px;
    background-color: rgb(225, 178, 255);
}

.like-container button:hover {
    background-color: rgb(218, 159, 255);
}

.media-image {
    max-width: 75%;    
    max-height: 75%;  
    width: auto;        
    height: auto;

    border-radius:  10px;
}

.description {
    text-align: start;
}

.red {
    color: red;
}

