.post-bg {
    background-color: #DFDBFF;
}

.post {
    align-items: center;

    height: 80%;
    width: 45%;

    padding: 20px;
    border-radius: 25px;

    position: absolute;
    left: 18%; 
    bottom: 10%;

    overflow-y: auto;

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.like-container {
    display: flex;
    justify-content: flex-start;

    position: absolute;
    left: 18%; 
    bottom: 0%; 

    width: 45%;
    z-index: 1;

    padding: 10px;

    border-radius: 25px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.not-liked {
    background-color: rgb(255, 255, 255) !important;
}

.not-liked:hover {
    background-color: rgb(161, 161, 161) !important;
}

.media-image {
    max-width: 75%;    
    max-height: 75%;  
    width: auto;        
    height: auto;

    border-radius:  10px;
}

.description {
    text-align: start;
}
