@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap");
.App {
  text-align: center;
  background-color: #DFDBFF;
}

.cabin-font {
  font-family: "Cabin Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2B2759;
  font-size: 2.5vmax;
}


button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #9d98c4;
}

button:hover {
  background-color: #c9c5e6;
}


input {
  background-color: #A4A0CC;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newspace-border {
  border-color: #2B2759;
}

.main-color, .sub1-color, .sub2-color {
  border: 0;
  border-radius: 20px;
}

.main-color {
  /* background-color: #DFDBFF; */
  background-color: #9d98c4;
}

.sub1-color {
  background-color: #A4A0CC;
}

.sub2-color {
  background-color: #DFDBFF;
}

.main-button {
  border-radius: 20px;
  background-color: #9d98c4;
}

.sub1-button {
  border-radius: 20px;
  background-color: #DFDBFF;
}

.main-button:hover, .sub1-button:hover {
  background-color: #c9c5e6;
}

