.comments-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 25%;
    height: 90%;

    position: absolute;
    right: 10%; 
    bottom: 0;

    border-radius: 25px;
    background: rgba(236, 214, 250);
}

.comments-feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    overflow-y: auto;
    height: 80%;
}
